In [19]:
import pandas as pd

In [20]:
df=pd.read_csv(r"C:\Users\Devi\Downloads\archive (5).zip")

In [21]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [22]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [23]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [24]:
df.drop(columns=['PassengerId','Name','Cabin','Ticket'],axis=1,inplace=True)

In [31]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  34.5      0      0   7.8292        Q
1         1       3  female  47.0      1      0   7.0000        S
2         0       2    male  62.0      0      0   9.6875        Q
3         0       3    male  27.0      0      0   8.6625        S
4         1       3  female  22.0      1      1  12.2875        S

In [32]:
df.isnull().sum()

Survived     0
Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         1
Embarked     0
dtype: int64

In [34]:
df['Sex'].value_counts()

Sex
male      266
female    152
Name: count, dtype: int64

In [39]:
df.Age.fillna(df.Age.median(), inplace=True)
df.Fare.fillna(df.Fare.mean(),inplace=True)

C:\Users\Devi\AppData\Local\Temp\ipykernel_9752\1116778143.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Age.fillna(df.Age.median(), inplace=True)
C:\Users\Devi\AppData\Local\Temp\ipykernel_9752\1116778143.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Fare.fillna(df.Fare.mean(),inplace=True)

In [40]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [41]:
df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  418.000000  418.000000  418.000000  418.000000  418.000000  418.000000
mean     0.363636    2.265550   29.599282    0.447368    0.392344   35.627188
std      0.481622    0.841838   12.703770    0.896760    0.981429   55.840500
min      0.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%      0.000000    1.000000   23.000000    0.000000    0.000000    7.895800
50%      0.000000    3.000000   27.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   35.750000    1.000000    0.000000   31.500000
max      1.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [ ]:
df['Family'] = df['SibSp'] + df['Parch']

In [44]:
df.drop(columns=['SibSp','Parch'],axis=1,inplace=True)

In [45]:
df

     Survived  Pclass     Sex   Age      Fare Embarked  Family
0           0       3    male  34.5    7.8292        Q       0
1           1       3  female  47.0    7.0000        S       1
2           0       2    male  62.0    9.6875        Q       0
3           0       3    male  27.0    8.6625        S       0
4           1       3  female  22.0   12.2875        S       2
..        ...     ...     ...   ...       ...      ...     ...
413         0       3    male  27.0    8.0500        S       0
414         1       1  female  39.0  108.9000        C       0
415         0       3    male  38.5    7.2500        S       0
416         0       3    male  27.0    8.0500        S       0
417         0       3    male  27.0   22.3583        C       2

[418 rows x 7 columns]

In [46]:
num_features = [feature for feature in df.columns if df[feature].dtype != 'O']
print('Num of Numerical Features :', len(num_features))

Num of Numerical Features : 5

In [47]:
num_features = [feature for feature in df.columns if df[feature].dtype == 'O']
print('Num of categorical Features :', len(num_features))

Num of categorical Features : 2

In [48]:
df.head()

   Survived  Pclass     Sex   Age     Fare Embarked  Family
0         0       3    male  34.5   7.8292        Q       0
1         1       3  female  47.0   7.0000        S       1
2         0       2    male  62.0   9.6875        Q       0
3         0       3    male  27.0   8.6625        S       0
4         1       3  female  22.0  12.2875        S       2

In [49]:
from sklearn.model_selection import train_test_split
X = df.drop(['Survived'], axis=1)
y = df['Survived']

In [51]:
X.head()

   Pclass     Sex   Age     Fare Embarked  Family
0       3    male  34.5   7.8292        Q       0
1       3  female  47.0   7.0000        S       1
2       2    male  62.0   9.6875        Q       0
3       3    male  27.0   8.6625        S       0
4       3  female  22.0  12.2875        S       2

In [52]:
y.head()

0    0
1    1
2    0
3    0
4    1
Name: Survived, dtype: int64

In [53]:
y.value_counts()

Survived
0    266
1    152
Name: count, dtype: int64

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((334, 6), (84, 6))

In [55]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Age       418 non-null    float64
 3   Fare      418 non-null    float64
 4   Embarked  418 non-null    object
 5   Family    418 non-null    int64
dtypes: float64(2), int64(2), object(2)
memory usage: 19.7+ KB

In [56]:
cat_features = X.select_dtypes(include="object").columns
num_features = X.select_dtypes(exclude="object").columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

preprocessor = ColumnTransformer(
    [
         ("OneHotEncoder", oh_transformer, cat_features),
          ("StandardScaler", numeric_transformer, num_features)
    ]
)

In [57]:
preprocessor

ColumnTransformer(transformers=[('OneHotEncoder', OneHotEncoder(drop='first'),
                                 Index(['Sex', 'Embarked'], dtype='object')),
                                ('StandardScaler', StandardScaler(),
                                 Index(['Pclass', 'Age', 'Fare', 'Family'], dtype='object'))])

In [58]:
X_train=preprocessor.fit_transform(X_train)

In [59]:
pd.DataFrame(X_train)

       0    1    2         3         4         5         6
0    1.0  0.0  1.0 -0.319382  0.196324 -0.413010 -0.568917
1    1.0  0.0  1.0 -0.319382 -0.418174 -0.093387  0.732578
2    1.0  1.0  0.0 -0.319382 -0.187737 -0.452604 -0.568917
3    1.0  0.0  1.0 -1.504644 -0.418174  0.783706  0.081830
4    1.0  0.0  1.0 -0.319382 -0.802235 -0.456202 -0.568917
..   ...  ...  ...       ...       ...       ...       ...
329  1.0  0.0  1.0  0.865880 -0.648611 -0.501195 -0.568917
330  1.0  1.0  0.0  0.865880 -0.648611 -0.502491 -0.568917
331  1.0  0.0  0.0 -1.504644  1.271696  0.662335 -0.568917
332  1.0  0.0  1.0 -0.319382 -0.418174 -0.404372 -0.568917
333  1.0  1.0  0.0  0.865880 -0.187737 -0.503714 -0.568917

[334 rows x 7 columns]

In [60]:
X_test=preprocessor.transform(X_test)

In [61]:
X_test

array([[ 1.        ,  0.        ,  0.        ,  0.86587998, -0.34136163,
        -0.51271184, -0.56891658],
       [ 0.        ,  0.        ,  1.        , -1.5046439 ,  0.73401042,
         3.01365289, -0.56891658],
       [ 1.        ,  1.        ,  0.        ,  0.86587998, -0.64861079,
        -0.50371401, -0.56891658],
       [ 1.        ,  0.        ,  1.        ,  0.86587998,  0.42676126,
        -0.50119504, -0.56891658],
       [ 0.        ,  0.        ,  1.        ,  0.86587998,  0.50357355,
        -0.4271202 ,  0.73257751],
       [ 1.        ,  0.        ,  1.        , -0.31938196,  1.5789456 ,
        -0.18841005,  0.08183047],
       [ 0.        ,  0.        ,  1.        ,  0.86587998, -0.03411248,
        -0.50069055, -0.56891658],
       [ 1.        ,  0.        ,  1.        , -1.5046439 ,  1.50213331,
        -0.18841005, -0.56891658],
       [ 0.        ,  0.        ,  1.        , -0.31938196, -0.80223537,
        -0.41301013, -0.56891658],
       [ 1.        ,  0.        ,  1.        ,  0.86587998, -0.18773705,
        -0.49853093, -0.56891658],
       [ 1.        ,  0.        ,  1.        ,  0.86587998, -0.64861079,
        -0.22037237,  0.73257751],
       [ 0.        ,  0.        ,  1.        , -1.5046439 ,  1.65575789,
         0.04310081,  0.08183047],
       [ 0.        ,  0.        ,  0.        ,  0.86587998, -1.03267224,
        -0.49046779,  0.73257751],
       [ 0.        ,  0.        ,  0.        , -1.5046439 ,  0.73401042,
         1.24384742, -0.56891658],
       [ 1.        ,  0.        ,  1.        ,  0.86587998, -0.18773705,
        -0.49853093, -0.56891658],
       [ 1.        ,  0.        ,  1.        ,  0.86587998, -0.18773705,
         0.33846374, -0.56891658],
       [ 0.        ,  0.        ,  1.        ,  0.86587998, -0.11092477,
        -0.50328209, -0.56891658],
       [ 1.        ,  0.        ,  1.        , -1.5046439 ,  1.96300705,
         0.22623626, -0.56891658],
       [ 1.        ,  1.        ,  0.        ,  0.86587998, -1.49354598,
        -0.13441964,  2.68481863],
       [ 1.        ,  0.        ,  1.        , -0.31938196, -0.49498621,
        -0.45620246,  0.08183047],
       [ 1.        ,  0.        ,  1.        , -0.31938196,  2.11663163,
        -0.41301013, -0.56891658],
       [ 1.        ,  0.        ,  1.        , -1.5046439 ,  0.887635  ,
         0.25841454,  0.08183047],
       [ 0.        ,  0.        ,  1.        ,  0.86587998, -2.031232  ,
        -0.39962051,  0.73257751],
       [ 1.        ,  0.        ,  1.        , -0.31938196,  0.04269981,
        -0.41301013, -0.56891658],
       [ 0.        ,  0.        ,  0.        ,  0.86587998, -0.18773705,
        -0.3742096 ,  0.73257751],
       [ 0.        ,  1.        ,  0.        ,  0.86587998, -0.84064152,
        -0.51177716, -0.56891658],
       [ 0.        ,  0.        ,  0.        , -1.5046439 , -0.34136163,
         0.32025213,  0.08183047],
       [ 1.        ,  0.        ,  1.        , -1.5046439 , -0.18773705,
        -0.17890774, -0.56891658],
       [ 1.        ,  0.        ,  0.        ,  0.86587998,  0.73401042,
        -0.51271184,  0.73257751],
       [ 1.        ,  0.        ,  1.        , -0.31938196,  0.04269981,
        -0.41301013, -0.56891658],
       [ 1.        ,  0.        ,  1.        ,  0.86587998,  0.19632439,
        -0.24844738, -0.56891658],
       [ 0.        ,  0.        ,  1.        ,  0.86587998, -0.5717985 ,
         0.04806793, -0.56891658],
       [ 0.        ,  0.        ,  1.        , -1.5046439 ,  0.27313668,
         1.98070846, -0.56891658],
       [ 1.        ,  0.        ,  1.        ,  0.86587998, -0.18773705,
        -0.49853093, -0.56891658],
       [ 0.        ,  0.        ,  1.        , -0.31938196, -0.5717985 ,
        -0.45620246, -0.56891658],
       [ 1.        ,  0.        ,  1.        , -0.31938196, -0.34136163,
        -0.45620246, -0.56891658],
       [ 0.        ,  1.        ,  0.        ,  0.86587998, -0.41817392,
        -0.50371401, -0.56891658],
       [ 1.        ,  0.        ,  0.        , -0.31938196, -0.18773705,
        -0.37766499, -0.56891658],
       [ 0.        ,  0.        ,  1.        , -0.31938196, -0.03411248,
        -0.18841005,  0.08183047],
       [ 1.        ,  0.        ,  0.        , -1.5046439 ,  0.23473054,
         3.01646039, -0.56891658],
       [ 0.        ,  1.        ,  0.        ,  0.86587998, -0.41817392,
        -0.50371401, -0.56891658],
       [ 0.        ,  0.        ,  1.        ,  0.86587998, -0.18773705,
        -0.23246622,  1.38332455],
       [ 1.        ,  0.        ,  0.        , -0.31938196,  0.887635  ,
        -0.37766499, -0.56891658],
       [ 1.        ,  0.        ,  1.        , -1.5046439 , -0.18773705,
         0.04655619, -0.56891658],
       [ 1.        ,  0.        ,  0.        , -1.5046439 , -0.07251862,
        -0.15867991, -0.56891658],
       [ 1.        ,  0.        ,  1.        ,  0.86587998, -0.64861079,
        -0.50191376, -0.56891658],
       [ 0.        ,  0.        ,  1.        ,  0.86587998, -0.18773705,
         0.56400024,  5.93855384],
       [ 0.        ,  0.        ,  0.        , -0.31938196, -0.41817392,
        -0.15867991,  0.08183047],
       [ 0.        ,  0.        ,  1.        , -1.5046439 ,  1.96300705,
        -0.19359313,  0.73257751],
       [ 1.        ,  0.        ,  1.        ,  0.86587998,  0.50357355,
        -0.51235248, -0.56891658],
       [ 1.        ,  1.        ,  0.        ,  0.86587998,  0.38835512,
        -0.50234568, -0.56891658],
       [ 0.        ,  0.        ,  0.        ,  0.86587998,  1.19488416,
        -0.5127844 , -0.56891658],
       [ 0.        ,  0.        ,  1.        ,  0.86587998, -0.18773705,
        -0.49853093, -0.56891658],
       [ 1.        ,  0.        ,  1.        , -0.31938196,  1.34850874,
        -0.45620246, -0.56891658],
       [ 1.        ,  0.        ,  0.        , -0.31938196, -0.03411248,
        -0.39818134, -0.56891658],
       [ 0.        ,  0.        ,  1.        , -0.31938196, -0.72542308,
        -0.18841005,  0.08183047],
       [ 1.        ,  0.        ,  1.        ,  0.86587998, -0.18773705,
        -0.49853093, -0.56891658],
       [ 1.        ,  0.        ,  1.        , -0.31938196, -0.26454934,
        -0.41301013, -0.56891658],
       [ 0.        ,  0.        ,  1.        ,  0.86587998, -2.24861078,
        -0.28213739,  1.38332455],
       [ 1.        ,  1.        ,  0.        ,  0.86587998, -0.41817392,
        -0.51235248, -0.56891658],
       [ 1.        ,  0.        ,  1.        ,  0.86587998,  1.5789456 ,
        -0.38709474,  0.08183047],
       [ 1.        ,  0.        ,  1.        , -0.31938196, -0.64861079,
        -0.43892553, -0.56891658],
       [ 0.        ,  0.        ,  0.        , -1.5046439 , -0.18773705,
        -0.15867991, -0.56891658],
       [ 1.        ,  0.        ,  1.        , -0.31938196,  0.81082271,
        -0.18841005,  0.08183047],
       [ 0.        ,  0.        ,  1.        , -0.31938196, -1.10948453,
         0.03619004,  0.73257751],
       [ 1.        ,  0.        ,  1.        , -0.31938196, -0.34136163,
        -0.45620246, -0.56891658],
       [ 1.        ,  0.        ,  1.        ,  0.86587998,  0.887635  ,
        -0.50198632, -0.56891658],
       [ 1.        ,  0.        ,  1.        ,  0.86587998, -0.41817392,
        -0.5071694 , -0.56891658],
       [ 1.        ,  0.        ,  0.        , -1.5046439 ,  0.73401042,
        -0.12448541, -0.56891658],
       [ 1.        ,  0.        ,  0.        , -1.5046439 ,  1.04125958,
        -0.15867991,  0.08183047],
       [ 1.        ,  0.        ,  0.        , -1.5046439 ,  2.11663163,
         1.89381933,  0.08183047],
       [ 1.        ,  0.        ,  1.        , -0.31938196,  0.04269981,
        -0.2747947 ,  0.08183047],
       [ 1.        ,  0.        ,  1.        ,  0.86587998,  0.19632439,
        -0.50666491, -0.56891658],
       [ 0.        ,  0.        ,  1.        , -1.5046439 , -0.18773705,
        -0.09022007, -0.56891658],
       [ 1.        ,  0.        ,  0.        , -1.5046439 ,  1.19488416,
        -0.12448541, -0.56891658],
       [ 0.        ,  0.        ,  1.        ,  0.86587998, -0.5717985 ,
        -0.48794882,  0.73257751],
       [ 1.        ,  0.        ,  1.        , -1.5046439 ,  0.04269981,
        -0.18841005, -0.56891658],
       [ 0.        ,  0.        ,  1.        ,  0.86587998, -0.5717985 ,
        -0.3974609 ,  0.08183047],
       [ 0.        ,  0.        ,  1.        ,  0.86587998, -0.26454934,
        -0.25708584,  0.73257751],
       [ 1.        ,  0.        ,  1.        ,  0.86587998, -0.34136163,
        -0.50544171, -0.56891658],
       [ 1.        ,  0.        ,  1.        ,  0.86587998, -0.5717985 ,
        -0.50292273, -0.56891658],
       [ 0.        ,  0.        ,  0.        , -1.5046439 ,  1.42532103,
         3.89542419,  2.03407159],
       [ 1.        ,  0.        ,  0.        ,  0.86587998, -0.64861079,
        -0.5127844 , -0.56891658],
       [ 0.        ,  1.        ,  0.        ,  0.86587998, -0.87904766,
        -0.50148183, -0.56891658]])

In [64]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report,ConfusionMatrixDisplay, \
                            precision_score, recall_score, f1_score, roc_auc_score,roc_curve

In [67]:
models={
    "Random Forest":RandomForestClassifier(),
    "Adaboost":AdaBoostClassifier(),
    "Gradient Boost":GradientBoostingClassifier(),
    "KNeighbors classifier":KNeighborsClassifier(),
    "Decision Tree":DecisionTreeClassifier()
}
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Training set performance
    model_train_accuracy = accuracy_score(y_train, y_train_pred) # Calculate Accuracy
    model_train_f1 = f1_score(y_train, y_train_pred, average='weighted') # Calculate F1-score
    model_train_precision = precision_score(y_train, y_train_pred) # Calculate Precision
    model_train_recall = recall_score(y_train, y_train_pred) # Calculate Recall
    model_train_rocauc_score = roc_auc_score(y_train, y_train_pred)


    # Test set performance
    model_test_accuracy = accuracy_score(y_test, y_test_pred) # Calculate Accuracy
    model_test_f1 = f1_score(y_test, y_test_pred, average='weighted') # Calculate F1-score
    model_test_precision = precision_score(y_test, y_test_pred) # Calculate Precision
    model_test_recall = recall_score(y_test, y_test_pred) # Calculate Recall
    model_test_rocauc_score = roc_auc_score(y_test, y_test_pred) #Calculate Roc


    print(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Accuracy: {:.4f}".format(model_train_accuracy))
    print('- F1 score: {:.4f}'.format(model_train_f1))
    
    print('- Precision: {:.4f}'.format(model_train_precision))
    print('- Recall: {:.4f}'.format(model_train_recall))
    print('- Roc Auc Score: {:.4f}'.format(model_train_rocauc_score))

    
    
    print('----------------------------------')
    
    print('Model performance for Test set')
    print('- Accuracy: {:.4f}'.format(model_test_accuracy))
    print('- F1 score: {:.4f}'.format(model_test_f1))
    print('- Precision: {:.4f}'.format(model_test_precision))
    print('- Recall: {:.4f}'.format(model_test_recall))
    print('- Roc Auc Score: {:.4f}'.format(model_test_rocauc_score))

    
    print('='*35)
    print('\n')

Random Forest
Model performance for Training set
- Accuracy: 1.0000
- F1 score: 1.0000
- Precision: 1.0000
- Recall: 1.0000
- Roc Auc Score: 1.0000
----------------------------------
Model performance for Test set
- Accuracy: 1.0000
- F1 score: 1.0000
- Precision: 1.0000
- Recall: 1.0000
- Roc Auc Score: 1.0000
===================================


Adaboost
Model performance for Training set
- Accuracy: 1.0000
- F1 score: 1.0000
- Precision: 1.0000
- Recall: 1.0000
- Roc Auc Score: 1.0000
----------------------------------
Model performance for Test set
- Accuracy: 1.0000
- F1 score: 1.0000
- Precision: 1.0000
- Recall: 1.0000
- Roc Auc Score: 1.0000
===================================


Gradient Boost
Model performance for Training set
- Accuracy: 1.0000
- F1 score: 1.0000
- Precision: 1.0000
- Recall: 1.0000
- Roc Auc Score: 1.0000
----------------------------------
Model performance for Test set
- Accuracy: 1.0000
- F1 score: 1.0000
- Precision: 1.0000
- Recall: 1.0000
- Roc Auc Score: 1.0000
===================================


KNeighbors classifier
Model performance for Training set
- Accuracy: 0.9820
- F1 score: 0.9820
- Precision: 0.9912
- Recall: 0.9576
- Roc Auc Score: 0.9765
----------------------------------
Model performance for Test set
- Accuracy: 0.9643
- F1 score: 0.9642
- Precision: 0.9697
- Recall: 0.9412
- Roc Auc Score: 0.9606
===================================


Decision Tree
Model performance for Training set
- Accuracy: 1.0000
- F1 score: 1.0000
- Precision: 1.0000
- Recall: 1.0000
- Roc Auc Score: 1.0000
----------------------------------
Model performance for Test set
- Accuracy: 1.0000
- F1 score: 1.0000
- Precision: 1.0000
- Recall: 1.0000
- Roc Auc Score: 1.0000
===================================

In [68]:
rf_params = {"max_depth": [5, 8, 15, None, 10],
             "max_features": [5, 7, "auto", 8],
             "min_samples_split": [2, 8, 15, 20],
             "n_estimators": [100, 200, 500, 1000]}
adaboost_param={
    "n_estimators":[50,60,70,80,90],
    "algorithm":['SAMME','SAMME.R']
}

In [69]:
randomcv_models = [
                   ("RF", RandomForestClassifier(), rf_params),
    ("AB", AdaBoostClassifier(), adaboost_param)
                   
                   ]

In [70]:
from sklearn.model_selection import RandomizedSearchCV

model_param = {}
for name, model, params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,
                                   param_distributions=params,
                                   n_iter=100,
                                   cv=3,
                                   verbose=2,
                                   n_jobs=-1)
    random.fit(X_train, y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"---------------- Best Params for {model_name} -------------------")
    print(model_param[model_name])

Fitting 3 folds for each of 100 candidates, totalling 300 fits

d:\REPO\internship\myvenu\Lib\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
57 fits failed out of a total of 300.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
35 fits failed with the following error:
Traceback (most recent call last):
  File "d:\REPO\internship\myvenu\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "d:\REPO\internship\myvenu\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "d:\REPO\internship\myvenu\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "d:\REPO\internship\myvenu\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
22 fits failed with the following error:
Traceback (most recent call last):
  File "d:\REPO\internship\myvenu\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "d:\REPO\internship\myvenu\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "d:\REPO\internship\myvenu\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "d:\REPO\internship\myvenu\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
d:\REPO\internship\myvenu\Lib\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [nan  1.  1.  1.  1.  1. nan  1.  1.  1.  1.  1. nan  1.  1. nan  1.  1.
 nan  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1. nan  1.  1.
  1.  1.  1.  1.  1. nan  1.  1. nan nan nan  1.  1.  1. nan  1.  1.  1.
  1.  1.  1.  1. nan  1. nan  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1. nan  1.  1.  1.  1. nan nan nan  1.  1.  1. nan  1.  1.  1.  1.  1.
  1.  1.  1. nan  1.  1.  1.  1.  1.  1.]
  warnings.warn(
d:\REPO\internship\myvenu\Lib\site-packages\sklearn\model_selection\_search.py:317: UserWarning: The total space of parameters 10 is smaller than n_iter=100. Running 10 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Fitting 3 folds for each of 10 candidates, totalling 30 fits
---------------- Best Params for RF -------------------
{'n_estimators': 200, 'min_samples_split': 15, 'max_features': 8, 'max_depth': 8}
---------------- Best Params for AB -------------------
{'n_estimators': 50, 'algorithm': 'SAMME'}

d:\REPO\internship\myvenu\Lib\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
15 fits failed out of a total of 30.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "d:\REPO\internship\myvenu\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "d:\REPO\internship\myvenu\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "d:\REPO\internship\myvenu\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "d:\REPO\internship\myvenu\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'algorithm' parameter of AdaBoostClassifier must be a str among {'SAMME'}. Got 'SAMME.R' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
d:\REPO\internship\myvenu\Lib\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [ 1.  1.  1.  1.  1. nan nan nan nan nan]
  warnings.warn(
d:\REPO\internship\myvenu\Lib\site-packages\sklearn\ensemble\_weight_boosting.py:519: FutureWarning: The parameter 'algorithm' is deprecated in 1.6 and has no effect. It will be removed in version 1.8.
  warnings.warn(

In [71]:
models={
    
    "Random Forest":RandomForestClassifier(n_estimators=1000,min_samples_split=2,
                                          max_features=7,max_depth=None),
    "Adaboost":AdaBoostClassifier(n_estimators=80, algorithm='SAMME')
}
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Training set performance
    model_train_accuracy = accuracy_score(y_train, y_train_pred) # Calculate Accuracy
    model_train_f1 = f1_score(y_train, y_train_pred, average='weighted') # Calculate F1-score
    model_train_precision = precision_score(y_train, y_train_pred) # Calculate Precision
    model_train_recall = recall_score(y_train, y_train_pred) # Calculate Recall
    model_train_rocauc_score = roc_auc_score(y_train, y_train_pred)


    # Test set performance
    model_test_accuracy = accuracy_score(y_test, y_test_pred) # Calculate Accuracy
    model_test_f1 = f1_score(y_test, y_test_pred, average='weighted') # Calculate F1-score
    model_test_precision = precision_score(y_test, y_test_pred) # Calculate Precision
    model_test_recall = recall_score(y_test, y_test_pred) # Calculate Recall
    model_test_rocauc_score = roc_auc_score(y_test, y_test_pred) #Calculate Roc


    print(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Accuracy: {:.4f}".format(model_train_accuracy))
    print('- F1 score: {:.4f}'.format(model_train_f1))
    
    print('- Precision: {:.4f}'.format(model_train_precision))
    print('- Recall: {:.4f}'.format(model_train_recall))
    print('- Roc Auc Score: {:.4f}'.format(model_train_rocauc_score))

    
    
    print('----------------------------------')
    
    print('Model performance for Test set')
    print('- Accuracy: {:.4f}'.format(model_test_accuracy))
    print('- F1 score: {:.4f}'.format(model_test_f1))
    print('- Precision: {:.4f}'.format(model_test_precision))
    print('- Recall: {:.4f}'.format(model_test_recall))
    print('- Roc Auc Score: {:.4f}'.format(model_test_rocauc_score))

    
    print('='*35)
    print('\n')

Random Forest
Model performance for Training set
- Accuracy: 1.0000
- F1 score: 1.0000
- Precision: 1.0000
- Recall: 1.0000
- Roc Auc Score: 1.0000
----------------------------------
Model performance for Test set
- Accuracy: 1.0000
- F1 score: 1.0000
- Precision: 1.0000
- Recall: 1.0000
- Roc Auc Score: 1.0000
===================================


Adaboost
Model performance for Training set
- Accuracy: 1.0000
- F1 score: 1.0000
- Precision: 1.0000
- Recall: 1.0000
- Roc Auc Score: 1.0000
----------------------------------
Model performance for Test set
- Accuracy: 1.0000
- F1 score: 1.0000
- Precision: 1.0000
- Recall: 1.0000
- Roc Auc Score: 1.0000
===================================

d:\REPO\internship\myvenu\Lib\site-packages\sklearn\ensemble\_weight_boosting.py:519: FutureWarning: The parameter 'algorithm' is deprecated in 1.6 and has no effect. It will be removed in version 1.8.
  warnings.warn(